	@CHARSET "ISO-8859-1";

.root {
	-fx-background-color: #BDBDBD;
	-fx-font-family: calibri;
	-fx-font-size: 25;
	-fx-spacing: 100;
	-fx-padding: 50;	
}

.title {
        -fx-fill:linear-gradient(palegreen, red);
	-fx-font-weight: bold;
	
}

.body {
        -fx-fill:red;
}


