/* 
    Created on : 15-Feb-2014, 13:22:53
    Author     : Arne
    Notes      : 

    reusable code:
    -fx-background-color: linear-gradient(to bottom, #f8f8f8, #b5b5b5); 
*/

.containerMain {
    -fx-border-width: 5px;    
    /*top right bottom left*/
    -fx-padding: 10px 0 10px 0;
    /* border color can be uncommented for debugging purposes */
    /*-fx-border-color: blue;*/
}
.containerTop {    
    /* border can be uncommented for debugging purposes */
    /*-fx-border-width: 5px 5px 0 5px;*/ 
    /*-fx-border-color: black;*/
}

.containerBottom {
    /* border can be uncommented for debugging purposes */
    /*-fx-border-width: 3px;*/
    /*-fx-border-color: black;*/
}

.grid1 {
    -fx-background-color: #ffffff;
    -fx-border-width: 5px;
    /* border color can be uncommented for debugging purposes */
    /*-fx-border-color: yellow;*/
}

.split-pane {
    -fx-box-border: transparent;
}

.split-pane-divider {
    visibility: hidden;
}

.scroll-pane {
    -fx-background-color: #ffffff;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.labelOldPrice {
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.labelOldPrice .text { 
    -fx-strikethrough: true; 
} 

.labelNewPrice {
    -fx-font-size: 20px;
    -fx-text-fill: #cc0000;
}

.labelForUserNotices {
	-fx-text-fill: #ff0000;
}

.labelListName {
	-fx-font-size: 20px;
}

.hyperlink {
    -fx-font-size: 12px;
    -fx-text-fill: blue;
    -fx-border-width: 0;
    -fx-padding:0;
}

.hyperlink:focused {
    -fx-border-style: dotted;
    -fx-border-width: 1px;
}

.button1 {
    -fx-cursor: hand;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px; 
}

.buttonNavigation {
    -fx-cursor: hand;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-background-color: #ffffff;
	-fx-border-color: #ffffff;
    -fx-border-width: 0 0 3px 0;
}

.buttonNavigation:focused {
    -fx-border-color: #000000;
    -fx-border-radius: 0;
} 

.buttonNavigation:hover {
    -fx-border-color: #000000;
    -fx-border-radius: 0;
} 

.buttonNavigationActive {
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
	-fx-border-width: 0 0 3px 0;
    -fx-border-radius: 0;
} 
.buttonLarge {
    -fx-cursor: hand;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
    -fx-background-color: #f0f0f0;
}

.buttonLarge:hover {
    -fx-background-color: #00ff33;  
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6), 5, 0.0, 0, 1);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}

.buttonChangeQuantity {
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 2px;
    -fx-background-color: transparent;
}

.buttonChangeQuantity:hover {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 2px;
    -fx-background-color: linear-gradient(#ffffff, #00ff33);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.buttonImage {
   -fx-cursor: hand;
   -fx-background-color: #ffffff;
   /*-fx-background-color:transparent;*/
}

.buttonImage:hover {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.buttonSmartTrolleyLogo {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-image:url("img/companyLogoSmall.png");
    -fx-background-size: 107 104;
    -fx-background-repeat: no-repeat;  
    -fx-background-position: center;
	-fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
	-fx-border-width: 0 0 3px 0;
	-fx-border-color: #ffffff;
}

.buttonSmartTrolleyLogo:hover {
    -fx-background-image:url("img/companyLogoSmallHover.png");
	-fx-border-color: #000000;
}

.table-view .column-header {
    -fx-alignment: center;    
}

.table-view .table-cell {
    -fx-alignment: center;
}

/* source: caspian.css */
/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
 
.table-view {
    -fx-skin: "com.sun.javafx.scene.control.skin.TableViewSkin";
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0,1;
 
    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 1; /* 0.083333em; */
 
    /* Constants used throughout the tableview.
     * TODO: Should these be derived from the palette in .scene?
     */
    -fx-table-header-border-color: #959595;
/*    -fx-table-header-background-color: linear (0%,0%) to (0%,100%) stops (80%, #bbbbbb) (10%, #f6f6f6);*/
    -fx-table-cell-border-color: #bbbbbb;
    -fx-border-color: transparent transparent transparent #000000;
    -fx-border-width: 1px;
}
 
/** Draws focus border around tableview */
.table-view:focused {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0, 0;
    /*-fx-background-insets: -1.4, 0, 1;*/
    /*-fx-background-radius: 1.4, 0, 0;*/
    -fx-background-radius: 0, 0, 0;
 
    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    /*-fx-padding: 1;  0.083333em; */
    -fx-padding: 0; /* 0.083333em; */
}
 
.table-view:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.table-view .scroll-bar:vertical{
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: 0.0 0.0 0.0 0.0;
}
 
.table-view .scroll-bar:horizontal{
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}
 
.table-view .corner {
    -fx-background-color: -fx-box-border, -fx-base;
    -fx-background-insets: 0, 1 0 0 1;
}
 
/* Each row in the table is a table-row-cell. Inside a table-row-cell is any
   number of table-cell. */
.table-row-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.TableRowSkin";
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: -fx-text-inner-color;
    /* set fixed row height */
    -fx-cell-size: 70px;
}
 
.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}
 
.table-row-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}
 
.table-row-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1, 2;
}
 
/* When the table-row-cell is selected and focused */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-view:focused .table-row-cell:filled:selected .table-cell {
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}
 
/* When the TableView is _not_ focused, we show alternate selection colors */
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-row-cell:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
 
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}
 
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}
 
.table-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
 
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
}
 
/* When in constrained resize mode, the right-most visible cell should not have
   a right-border, as it is not possible to get this cleanly out of view without
   introducing horizontal scrollbars (see RT-14886). */
.table-view:constrained-resize .table-cell:last-visible {
    -fx-border-color: transparent;
}
.table-view:constrained-resize .column-header:last-visible {
    -fx-border-width: 0.083333em 0.0em 0.083333em 0.083333em, 0.083333em 0.0em 0.083333em 0.083333em;
}
.table-view:constrained-resize .filler {
    -fx-border-color:
        derive(-fx-base, 80%)
        linear-gradient(to bottom, derive(-fx-base,80%) 20%, derive(-fx-base,-10%) 90%)
        derive(-fx-base, 10%)
        linear-gradient(to bottom, derive(-fx-base,80%) 20%, derive(-fx-base,-10%) 90%),
        /* Outer border: */
        transparent -fx-table-header-border-color -fx-table-header-border-color -fx-table-header-border-color;
    -fx-border-insets: 0 1 1 1, 0 0 0 0;
}
 
.table-view:focused .table-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}
 
.table-view:focused .table-row-cell:filled .table-cell:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-view:focused .table-row-cell:filled .table-cell:selected, .table-view:cell-selection .table-row-cell:filled .table-cell:hover:selected {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-background-insets: 0 0 1 0;
}
 
.table-view:focused .table-row-cell:filled .table-cell:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-selection-bar-text;
}
 
/* When the TableView is _not_ focused, we show alternate selection colors */
 .table-row-cell:filled .table-cell:selected:focused,  .table-row-cell:filled .table-cell:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-cell:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
 
.table-view:cell-selection  .table-row-cell:filled .table-cell:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0 0 1 0;
}
 
.table-view:cell-selection .table-row-cell:filled .table-cell:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-text-inner-color;
}
 
/* The column-resize-line is shown when the user is attempting to resize a column. */
.table-view .column-resize-line {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-padding: 0.0em 0.0416667em 0.0em 0.0416667em; /* 0 0.571429 0 0.571429 */
}
 
/* This is the area behind the column headers. An ideal place to specify background
   and border colors for the whole area (not individual column-header's). */
.table-view .column-header-background {
    /*edit column header bg here*/
    /*-fx-background-color: -fx-body-color;*/
    -fx-background-color: linear-gradient(to bottom, #fff, #d0d0d0);
    -fx-padding: 0;
}
 
/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .column-header, .table-view .filler {
    -fx-text-fill: -fx-selection-bar-text;
 
    /* TODO: for some reason, this doesn't scale. */
    -fx-font-size: 1.083333em; /* 13pt - 1 more than the default font */
    -fx-size: 25;
    -fx-border-style: solid;
    -fx-border-color:
        /*
          Inner border: we have different colours along the top, right, bottom and left.
          Refer to RT-12298 for the spec.
        */
        derive(-fx-base, 80%)
        linear-gradient(to bottom, derive(-fx-base,80%) 20%, derive(-fx-base,-10%) 90%)
        derive(-fx-base, 10%)
        linear-gradient(to bottom, derive(-fx-base,80%) 20%, derive(-fx-base,-10%) 90%),
        /* Outer border: */
        transparent -fx-table-header-border-color -fx-table-header-border-color transparent;
    -fx-border-insets: 0 1 1 0, 0 0 0 0;
    -fx-border-width: 0.083333em, 0.083333em;
}
 
.table-view .column-header .sort-order {
    -fx-font-size: 0.916667em; /* 11pt - 1 less than the default font */
}
  
/* When a column is being 'dragged' to be placed in a different position, there
   is a region that follows along the column header area to indicate where the
   column will be dropped. This region can be styled using the .column-drag-header
   name. */
.table-view .column-drag-header {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-border-color: transparent;
    -fx-opacity: 0.6;
}
 
/* Semi-transparent overlay to indicate the column that is currently being moved */
.table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.3;
}
 
.table-view .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
 
/* This is shown when the table has no rows and/or no columns. */
.table-view .empty-table {
    -fx-background-color: white;
    -fx-font-size: 1.166667em; /* 14pt - 2 more than the default font */
}

/* source: caspian.css */
/*******************************************************************************
 *                                                                             *
 * ListView and ListCell                                                       *
 *                                                                             *
 ******************************************************************************/
 
.list-view {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ListViewSkin";*/
    /*-fx-background-color: -fx-box-border, -fx-control-inner-background;*/
    -fx-background-insets: 0, 1;
 
     /* There is some oddness if padding is in em values rather than pixels,
        in particular, the left border of the control doesn't show. */
    -fx-padding: 1; /* 0.083333em; */
}
 
.list-view:focused {
    -fx-background-color: #ffffff;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
 
    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 1; /* 0.083333em; */
}
 
.list-view .scroll-bar:vertical{
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: 0.0 0.0 0.0 0.0;
}
 
.list-view .scroll-bar:horizontal{
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}
 
.list-view:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
 
.list-view .corner {
    -fx-background-color: -fx-box-border, -fx-base;
    -fx-background-insets: 0, 1 0 0 1;
}
 
.list-cell {
    -fx-background-color: #ffffff;
}
 
.list-cell:odd {
    /*-fx-background-color: derive(-fx-control-inner-background,-5%);*/
}
 
.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}
 
.list-view:focused .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1, 2;
}
 
/* When the list-cell is selected and focused */
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}
 
/* When the ListView is _not_ focused, we show alternate selection colors */
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    /*-fx-background-color: lightgray;*/
    -fx-text-fill: -fx-selection-bar-text;
}
 
.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
 
.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}
 
.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}
 
.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    /*-fx-background-color: linear-gradient(to right, derive(-fx-accent,-7%), derive(-fx-accent,-25%));*/
}