/* 
    Created on : 15-Feb-2014, 13:22:53
    Author     : Arne
    Notes      : 

    reusable code:
    -fx-background-color: linear-gradient(to bottom, #f8f8f8, #b5b5b5); 
*/

.root {
    -fx-focus-color: #0093ff;
}

.containerMain {
    -fx-border-width: 5px;    
    /*top right bottom left*/
    -fx-padding: 10px 0 10px 0;
    /* border color can be uncommented for debugging purposes */
    /*-fx-border-color: blue;*/
    /*-fx-background-color:*/
    /*linear-gradient(to bottom, #f2f2f2, #d4d4d4);*/
}

.containerListName {
    /*-fx-background-color:*/
    /*linear-gradient(to bottom, #f2f2f2, #d4d4d4);*/
}

.grid1 {
    -fx-background-color: #ffffff;
    /*-fx-background-color:*/
    /*linear-gradient(#d0d0d0 0%, #f2f2f2 25%, #ffffff 75%, #d4d4d4 100%);*/
    -fx-border-width: 5px;
    /* border color can be uncommented for debugging purposes */
    /*-fx-border-color: yellow;*/
}

.split-pane {
    -fx-box-border: transparent;
}

.split-pane-divider {
    visibility: hidden;
}

.scroll-pane {
    -fx-background-color: #ffffff;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.labelOldPrice {
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.labelOldPrice .text { 
    -fx-strikethrough: true; 
} 

.labelNewPrice {
    -fx-font-size: 20px;
    -fx-text-fill: #cc0000;
}

.labelForUserNotices {
	-fx-text-fill: #ff0000;
}

.labelListName {
	-fx-font-size: 20px;
}

.hyperlink {
    -fx-font-size: 12px;
    -fx-text-fill: blue;
    -fx-border-width: 0;
    -fx-padding:0;
}

.hyperlink:focused {
    -fx-border-style: dotted;
    -fx-border-width: 1px;
}

.button1 {
-fx-background-color:
        linear-gradient(#dbdbdb, #b9b9b9),
        radial-gradient(center 50% -40%, radius 200%, #dbdbdb 45%, #b9b9b9 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-border-color: gray;
    -fx-border-radius:4px;
}

.button1:hover {
    -fx-background-color:
        linear-gradient(#dfdfdf, #b9b9b9),
    radial-gradient(center 50% -40%, radius 200%, #dbdbdb 45%, #b9b9b9 60%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.4) , 20, 0.0 , 0 , 1 );
}

.buttonNavigation {
    -fx-cursor: hand;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-background-color: #ffffff;
	-fx-border-color: #ffffff;
    -fx-border-width: 0 0 3px 0;
    -fx-font-weight:bold; 
}

.buttonNavigation:focused {
    -fx-border-color: #740CE8;
    -fx-border-radius: 0;
} 

.buttonNavigation:hover {
    -fx-border-color: #0093ff;
    -fx-border-radius: 0;
} 

.buttonNavigationActive {
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-background-color: #ffffff;
    -fx-border-color: #740CE8;
	-fx-border-width: 0 0 3px 0;
    -fx-border-radius: 0;
    -fx-font-weight:bold;    
} 

.buttonLarge {
    -fx-cursor: hand;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
    -fx-background-color: #f0f0f0;
}

.buttonLarge:hover {
    -fx-background-color: #00ff33;  
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6), 5, 0.0, 0, 1);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}

.buttonChangeQuantity {
    -fx-cursor: hand;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}

.buttonChangeQuantity:hover {
/*    -fx-font-size: 20px;*/
/*    -fx-font-weight:bold;*/
    -fx-text-fill: #0093ff;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.buttonImage {
   -fx-cursor: hand;
   -fx-background-color: #ffffff;
   /*-fx-background-color:transparent;*/
}

.buttonImage:hover {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.buttonProductNameTable {	
	-fx-cursor: hand;	
	-fx-background-color: transparent;	
}

.buttonProductNameTable:hover {	
    -fx-text-fill: #0093ff;
}

.buttonSmartTrolleyLogo {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-image:url("img/companyLogoSmall.png");
    -fx-background-size: 107 104;
    -fx-background-repeat: no-repeat;  
    -fx-background-position: center;
	-fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-font-weight:bold; 
	-fx-border-width: 0 0 3px 0;
	-fx-border-color: #ffffff;
}

.buttonSmartTrolleyLogo:hover {
/*    -fx-background-image:url("img/companyLogoSmallHover.png");*/
	-fx-border-color: #0093FF;
    -fx-effect: dropshadow(three-pass-box , #740CE8, 5, 0.0, 0, 1);
    
}

.search-box .text-field {
    -fx-background-image: url("img/lupe.png");
    -fx-background-repeat: no-repeat;  
    -fx-background-position: left;
	-fx-font-family: "Arial Narrow";
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 15px;
    -fx-prompt-text-fill: gray;
    -fx-border-color:gray;
    -fx-border-radius:5px;
}
.search-box .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1;
    -fx-background-radius: 5px;
}
 
.table-view {
    -fx-border-color: transparent transparent transparent #000000;
    -fx-border-width: 1px;
}

.table-cell {
/*    set table cell alignment here*/
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    /*edit column header bg*/
/*    -fx-background-color: linear-gradient(#f0f0f0 50%, #ffffff);*/
    -fx-background-color: linear-gradient(#ffffff 1%, #f0f0f0 50%, #ffffff);
}

/*border between column headers*/
.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent;
}


 /* style for list-view (contains category names) */
.list-view:focused {
    -fx-background-color: #ffffff;
}
 
.list-cell {
    -fx-background-color: #ffffff;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}
 
.list-view:focused .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1, 2;
}
 
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}